footer {
    text-align: center;
    height: 50px;
    color: #606060;
    width: 100%;
    background-color: black;
    margin-top: auto;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}

footer p {
    font-size: 17px;
    margin: 0;
}

footer div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #606060;
}

.footer-name {
    cursor: pointer;
    text-decoration: none;
    color: #606060;
}

.footer-name:hover {
    color: rgb(196, 196, 196);
}

@media only screen and (max-width: 900px) {
    footer {
        flex-direction: column;
        gap: 5px;
        height: fit-content;
    }

    .dot-dash {
        width: 50px;
        height: 2px;
        border-radius: 2px;
    }

}