.skills-container {
    height: 130vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 100px;
}

.skills-container p {
    color: black;
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 30px;
}

.icon {
    width: 160px;
    height: 160px;
    border-radius: 35px;
    margin: 30px;
    cursor: pointer;
}